<nav>
    <a href="{{ url_for('home') }}" class="{{ 'active' if request.endpoint == 'home' else '' }}">Home</a>
    <a href="{{ url_for('users') }}" class="{{ 'active' if request.endpoint in ('users', 'edit_user') else '' }}">Nutzer</a>
    <a href="{{ url_for('jobs') }}" class="{{ 'active' if request.endpoint in ('jobs', 'edit_job') else '' }}">Stellenangebote</a>
    <a href="{{ url_for('customers') }}" class="{{ 'active' if request.endpoint in ('customers', 'edit_job') else '' }}">Stellenanbieter</a>
</nav>
